@import './common';
@import './example';
@import './style.scss';

html {
  box-sizing: border-box;
  //   height: 1000px;
}

*,
*::before,
::after {
  box-sizing: inherit;
}

img {
  display: block;
}

